/*----------------------------
    Top Bar
----------------------------*/
.topbar-area {
    background-color: var(--heading-color);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .left-contnet{
        display: inline-block;
        span{
            color: var(--bg-color);
            font-size: 14px;
            cursor: pointer;
            padding-right: 15px;
            i{
                padding-right: 7px;
                &::before {
                    font-size: 14px;
                }
            }
        }
    }

    .right-contnet{
        float: right;
        display: inline-flex;
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                display: inline-block;
                font-size: 14px;
                margin: 0 8px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                a {
                    color: var(--bg-color);
                    font-size: 16px;
                    @include transition($transition);
                     &:hover{
                        color: var(--active-color);
                    }
                    i{
                        padding-right: 7px;
                        &::before {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
  

/*----------------------------
    Info Bar
----------------------------*/
.info-bar-area{
    
}
.info-bar-inner{
    padding: 20px 0 20px 0;
    div{
        display: inline-block;
    }
    .logo-wrapper{
        .logo{
            margin-top: 5px;
            display: block;
        }
        .site-title{
            font-size: 35px;
            font-weight: 700;
            margin-top: 10px;
        }
    }
    .right-content{
        display: inline-block;
        float: right;
        .request-quote{
            margin-left: 40px;
            .rq-btn{
                &.blank{
                    background-color: #f1f1f1;
                    border-radius: 0;
                    top: 0;
                    padding: 15px 40px;
                    color: var(--heading-color);
                    i{
                        color: var(--main-color-one);
                        @include transition($transition);
                    }
                    &:hover{
                        background-color: var(--main-color-one);
                        color: $white;
                        i{
                            color: $white;
                        }
                    }
                }
                padding: 15px 25px;
                background-color: var(--main-color-one);
                border-radius: 30px;
                color: $white;
                font-weight: 600;
                text-transform: capitalize;
                display: block;
                position: relative;
                top: -5px;
                @include transition($transition);
                &:hover{
                    background-color: var(--heading-color);
                }
            }
        }
        
    }
}

.info-items{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        margin: 0 30px;
        &:hover{
            .single-info-item{
                .content{
                    .title{
                        color: var(--main-color-one);
                    }
                }
            }
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        .single-info-item{
            display: flex;
            align-self: flex-start;
            .icon{
                margin-right: 20px;
                i { 
                    color: var(--main-color-one);
                    &::before {
                        font-size: 40px;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                }
            }
            .content{
                .title{
                    font-size: 14px;
                    line-height: 26px;
                    font-weight: 700;
                    margin-bottom: 0;
                    @include transition($transition);
                }
                .details{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        
    }
    .search{
        cursor: pointer;
        @include transition($transition);
        &:hover{
             color:var(--main-color-one);
         }
     }
}




